body{ 
    background-color: blue;
}


.superToolBar{ 
    padding: 1% ;
    width: 9vh auto;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */


}


.toolBar{ 

    width: 40vw;
    height: 10vh;
   border-radius: 10px;
    margin-right:1% ;
    /* padding: 3%; */
    display: flex;
    justify-content : space-around;
    align-items: center;


}



.superCourseTab{ 
    background-color: aliceblue;
    width: 90%;
    margin-top: 10vh;
    margin: 10vh auto;
    padding:1%;
    padding-left: 2%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:90px;

    
    /* display: flex;
  flex-direction: column;
    justify-content:center;
    align-items: center; */
}

.subCourseTab{ 
    background-color: chartreuse;

    display: flex;
    justify-content:center;
    align-items: center;
}



.courseTab{ 

    color: black;
    text-align: center;
    text-decoration: none;    
    width: 30vw;   
    height: 7vh;            
    padding: 5%;
    border-radius: 10px;

    
    display: flex;
    justify-content: center; 
    align-items: center;

}
