body{ 
  background-color: blue;
     
}


.superToolBar{ 
  display: flex;
   flex-direction: row;
   justify-content: space-between;
 
   background-color: brown;
   

}


.toolBar{

   background-color: bisque;
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  
}

#Options{ 
  
   text-align: center;
   background-color: blue;
  
}

.innerToolBar{ 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
}

.welcomeTag{
  background-color: yellowgreen;
  font-family: Calibri, 'Trebuchet MS', sans-serif, Geneva, Verdana, sans-serif;
  text-align: center; 
}

.superTabs{ 
   padding: 10px;
   background-color: coral;
   display:flex;
   flex-direction: row; 
   justify-content: center; 
   align-items: center;


}
.Tabs{ 
   text-align: center;
   width: 35vw;
   height:30vh;
   font-size: 100%; 
   font-family:  Calibri, 'Trebuchet MS', sans-serif;     
   margin: 10px;
   background-color: aqua;
   border-radius: 10px;   
}
.innerTabs{ 

   padding: 10px;
   margin:10px;

}



















