body{ 

     background-color: whitesmoke;
       
}
  .welcomeTag{
    background-color: yellowgreen;
    font-family: Calibri, 'Trebuchet MS', sans-serif, Geneva, Verdana, sans-serif;
    text-align: center; 
  }
  
  .superTabs{ 
     padding: 10px;
     background-color: coral;
     display:flex;
     flex-direction: row; 
     justify-content: center; 
     align-items: center;
  
  
  }
  .Tabs{ 
     text-align: center;
     width: 35vw;
     height:30vh;
     font-size: 100%; 
     font-family:  Calibri, 'Trebuchet MS', sans-serif;     
     margin: 10px;
     background-color: aqua;
     border-radius: 10px;   
  }
  .innerTabs{ 
  
     padding: 10px;
     margin:10px;
  
  }




      /* animation keyframes */
    @keyframes hover-effect {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
    


    @media (max-width: 768px) {
      .tab {
        width: 90%;
        margin: 10px;
      }
    }
                            
    @media (max-width: 480px) {
      .tab {
        width: 100%;
        margin: 5px;
      }
    }
    
